.product_disabled {
  pointer-events: none; }
  .product_disabled .product__offer,
  .product_disabled .product__content {
    border-color: #b3b3b3; }
  .product_disabled .product__offer::after {
    border-color: #b3b3b3; }
  .product_disabled .product__image {
    opacity: .5; }
  .product_disabled .product__card,
  .product_disabled .product__title {
    color: #d2d2d2; }
  .product_disabled .product__description {
    color: #ffff66; }
  .product_disabled .product__weight {
    background: #b3b3b3; }
