.product_disabled
  pointer-events: none

  .product__offer,
  .product__content
    border-color: #b3b3b3

  .product__offer
    &::after
      border-color: #b3b3b3

  .product__image
    opacity: .5

  .product__card,
  .product__title
    color: #d2d2d2

  .product__description
    color: #ffff66

  .product__weight
    background: #b3b3b3
