.product_selected .product__offer,
.product_selected .product__content {
  border-color: #d91667; }

.product_selected .product__offer::after {
  border-color: #d91667; }

.product_selected:hover .product__offer,
.product_selected:hover .product__content {
  border-color: #e52e7a; }

.product_selected:hover .product__offer::after {
  border-color: #e52e7a; }

.product_selected:hover .product__weight {
  background: #e52e7a; }

.product_selected .product__weight {
  background: #d91667; }
