.product_selected
  .product__offer,
  .product__content
    border-color: #d91667

  .product__offer
    &::after
      border-color: #d91667

  &:hover
    .product__offer,
    .product__content
      border-color: #e52e7a

    .product__offer
      &::after
        border-color: #e52e7a

    .product__weight
      background: #e52e7a

  .product__weight
    background: #d91667
