.product-weight {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  padding-top: 20px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  background: #1698d9;
  color: #fff; }
