.product__offer {
  height: 44px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  line-height: 19px;
  background: #f2f2f2;
  margin-left: 44px;
  border: 4px solid #1698d9;
  border-bottom: 0;
  border-left: 0;
  border-radius: 0 12px 0 0;
  box-sizing: border-box;
  padding: 17px 16px 0 7px;
  pointer-events: none; }
  .product__offer::after {
    content: '';
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
    top: -4px;
    left: 0;
    box-sizing: border-box;
    z-index: -1;
    background: inherit;
    transform-origin: top left;
    transform: skew(-45deg, 0deg);
    border: 4px solid #1698d9;
    border-bottom: 0;
    border-right: 0; }
