.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  padding: 24px 0;
  background: #000 url("./app.png"); }
  .app::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%); }

body {
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }

html {
  background: #000;
  -webkit-text-size-adjust: none; }

h1, h2, h3, h4,
ul, li, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }
