.product-list__item {
  display: inline-block;
  margin-bottom: 16px; }
  @media (min-width: 375px) {
    .product-list__item {
      margin: 0 16px; } }
  @media (min-width: 1120px) {
    .product-list__item {
      margin: 0 40px; } }
