.product__card {
  position: relative;
  box-sizing: border-box;
  width: 320px;
  min-height: 480px;
  text-align: left;
  color: #666;
  user-select: none; }
  .product__card:hover .product__offer,
  .product__card:hover .product__content {
    border-color: #2ea8e6; }
  .product__card:hover .product__offer::after {
    border-color: #2ea8e6; }
  .product__card:hover .product__weight {
    background: #2ea8e6; }
