.product__content
  box-sizing: border-box
  min-height: 436px
  padding: 1px 44px 0
  border: 4px solid #1698d9
  border-top: 0
  border-radius: 0 0 12px 12px
  background: #f2f2f2
  pointer-events: none
